* {
    margin:0;
    padding: 0;
}

/* it selects the particular div with its classsname */
div.border {
    width:300px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translateY(50%); */
    /* border-top:  solid red;
    border-bottom:  dotted gold;
    border-left:  solid cadetblue;
    border-right:  solid darkorange;
    border-width:5px; */
    border: 5px solid darkorange ;
    /* border-radius: 50%; */
}

.avatarImage {
    /* display: inline; */
     width: 150px; 
    /* width:300px; */
    height: 150px;
    border-radius: 50%;
}

.bacground {
    margin: 0 auto;
    border: 2px solid red;
    padding: 5px;
    background-image: url('https://images.pexels.com/photos/2128807/pexels-photo-2128807.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    /* background-color: darkorange; */
    width: 1000px;
    /* height: 300px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background-clip: border-box;
    background-origin: border-box; */

}