* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
ul {
    margin-left:50px;
}

.emes li {
    font-size: 2em;
}

/* .rems li {
    font-size: 2rem;
} */

.rems li {
    font-size: 2vw;
}

div {
    margin:0 auto;
    width:200px;
    height: 200px;
    line-height: .4;
    border: 1px solid red;
}

/* 1 by default 1em value is 16px inhetited by the default browser value. 
 2 whenever we set the fontsize of project 1em value inherited by that value overwrite the browser default  value*/
